* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #2817e6;
    background: linear-gradient(90deg, rgba(40, 23, 230, 1) 0%, rgba(87, 199, 188, 1) 30%, rgba(88, 113, 222, 1) 65%, rgba(83, 232, 237, 1) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: #227d8d;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #021538;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.converter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.currency-row {
    display: flex;
    gap: 15px;
    align-items: end;
}

.currency-input {
    flex: 2;
}

.currency-select {
    flex: 1;
}

input,
select {
    width: 100%;
    padding: 15px;
    border: 2px solid #030338;
    background-color: #ffffff;
    border-radius: 12px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input::placeholder{
    color: rgb(0, 0, 0);
}


input:focus,
select:focus {
    outline: none;
    border-color: #667eea;
    background: #ffffff;
    box-shadow: 0, 5px 15px rgba(102, 126, 234, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #6fa0ce;
    font-weight: 600;
    text-align: left;
}

.converter-btn {
    background: #262323;
    background: linear-gradient(90deg, rgb(35, 37, 172) 47%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.converter-btn:hover {
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.2);
    transform: translateY(-2px);
}

.loading{
    margin: 20px;
    display: none;
}

.spinner{
border: 3px solid #f3f3f3;
border-top: 3px solid #667eea;
border-radius: 50%;
height: 30px;
width: 30px;
margin: 0 auto;
animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
    }

.info{
    margin-top: 30px;
    font-size: 15px;
    color: #c7d4fc;
}

.result{
    background: #262323;
    background: linear-gradient(90deg, rgb(8, 16, 44) 47%, rgb(15, 15, 143) 57%, rgb(10, 50, 58) 100%);
    padding: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 12px;
    display: none;
}

.error{
    background: #c4f5f2;
    background: linear-gradient(90deg, rgb(201, 6, 23) 43%, rgba(77, 77, 179, 1) 57%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    display: none;
}